* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #F4F1EA url('../pagina incial/imagens/ondas.png') no-repeat center bottom;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
}

.main-container {
    width: 1050px;
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-impact {
    background: #001f5f;
    color: white;
    padding: 15px 25px;
    border-radius: 15px;
}

.hero-impact h1 {
    font-size: 2rem;
}

.hero-impact p {
    font-size: 0.9rem;
}

.grid-dashboard {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 8px;
    flex-grow: 1;
}

.col-main,
.col-side {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.lista-avisos {
    list-style-position: inside;
    padding-left: 5px;
    font-size: 0.9rem;
    line-height: 1.4;
}

.nota-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 0.95rem;
    border-bottom: 1px solid #eee;
}

.progress-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid #001f5f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 5px auto;
    color: #001f5f;
}

.gpa {
    font-size: 2rem;
    font-weight: bold;
    color: #001f5f;
}

.grid-services {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

.card-service {
    text-align: center;
    color: #333;
    font-weight: 700;
    padding: 10px 5px;
    font-size: 0.8rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: 0.3s;
    background: white;
}

.card-service:hover {
    background: #001f5f;
    color: white;
    transform: translateY(-3px);
}

.icon-big {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 2px;
}